.boardConatiner {
  position: relative;
  width: 78vw;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* width: 78vw;
  height: 100vh; */
  width: 100%;
  height: 100%;
  /* position: relative; */
}

.svgBoard {
  position: absolute;
  width: 78vw;
  height: 100vh;
  left: 7px;
  right: 0px;
  pointer-events: none;
}

.evenNumberCell {
  background-color: #f8f8f8;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.oddNumberCell {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.cellNumber {
  color: #707070;
  padding: 0.5rem 0rem 0rem 0.5rem;
  font-size: 12.5px;
  opacity: 1;
  top: 0;
  left: 0;
  margin: 0;
}

.ladder,
.snake {
  position: absolute;
  height: 2px;
  z-index: 1;
}

.ladder {
  background-color: green;
}

.snake {
  background-color: red;
}

.playersPosition {
  display: flex;
  flex-direction: column;
  height: 60px;
  align-self: flex-end;
}

.startPoint {
  align-self: baseline;
  margin: 0;
  color: #464646;
  font-weight: 500;
}

.finishPoint {
  align-self: baseline;
  margin: 0;
  color: #464646;
  font-weight: 500;
}

.emptySpace {
  height: 33px;
}
